<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="AG media" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Document Title
============================================= -->
	<title>Razvojna agencija MRAV</title>
	<meta name="description" content="Djelovanje i aktivnosti Razvojne agencije MRAV d.o.o. usmjerene su na postizanje održivog povećanja životnog standarda i lokalnog razvoja Moslavačke regije i šire." />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap&subset=latin-ext" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/swiper.css" type="text/css" />

	<!-- Mrav Specific Stylesheet -->
	<link rel="stylesheet" href="demos/mrav/mrav.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<!-- favicon-->
	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
	<link rel="manifest" href="site.webmanifest">
	<link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#000000">
	<meta name="theme-color" content="#ffffff">

	<!-- og:graph -->
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="Naslovnica - Razvojna agencija MRAV"/>
	<meta property="og:image" content="http://www.ra-mrav.hr/demos/mrav/images/slider/1.jpg"/>
	<meta property="og:site_name" content="Razvojna agencija MRAV"/>
	<meta property="og:url" content="http://www.ra-mrav.hr/"/>
	<meta property="og:description" content="Djelovanje i aktivnosti Razvojne agencije MRAV d.o.o. usmjerene su na postizanje održivog povećanja životnog standarda i lokalnog razvoja Moslavačke regije i šire."/>



</head>

<body class="stretched sticky-responsive-menu">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar
		============================================= -->
		<div id="top-bar">

			<div class="container clearfix">

				<div class="col_half d-none d-md-block nobottommargin">

					<div class="top-links">
						<ul>

							<li><a href="tel:+385 44 659 078"><i class="icon-phone3"></i> +385 44 659 078</a></li>

						</ul>
					</div>

				</div>

				<div class="col_half col_last fright nobottommargin">

					<div id="top-social">
						<ul>
						<li><a href="https://www.facebook.com/pages/category/Social-Service/Razvojna-agencija-MRAV-806678259359172/" class="si-facebook" target="_blank"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>


						<li><a href="mailto:info@mrav.hr" class="si-email3"><span class="ts-icon"><i class="icon-envelope-alt"></i></span><span class="ts-text"><span class="__cf_email__" >info@mrav.hr</span></span></a></li>
						</ul>
					</div>

				</div>

			</div>

		</div>

		<!-- Header
		============================================= -->
		<header id="header">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo"><img src="demos/mrav/images/logo-mrav.svg" alt="Mrav Logo"></a>
						<a href="index.html" class="retina-logo"><img src="demos/mrav/images/logo-mrav.svg" alt="Mrav Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="style-3">

						<ul>
							<li><a href="novosti.html"><div>Novosti</div></a></li>
							<li><a href="stranica.html"><div>O nama</div></a></li>
							<li><a href="stranica.html"><div>Usluge</div></a></li>
							<li><a href="stranica.html"><div>Razvojni projekti</div></a>
							<ul>
									<li><a href="demos/medical/doctors-lists.html"><div>Submenu</div></a></li>
									<li><a href="demos/medical/doctors-3.html"><div>Submenu</div></a></li>
									<li><a href="demos/medical/doctors.html"><div>Submenu</div></a></li>
								</ul></li>
							<li><a href="stranica.html"><div>Strateški dokumenti</div></a>
							<li><a href="kontakt.html"><div>Kontakt</div></a></li>
						</ul>

						<!-- Top Search
						============================================= -->
						<div id="top-search">
							<a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
							<form action="search.html" method="get">
								<input type="text" name="q" class="form-control" value="" placeholder="Upiši pojam &amp; Enter..">
							</form>
						</div><!-- #top-search end -->

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element swiper_wrapper full-screen clearfix" data-loop="false" data-autoplay="5000">

			<div class="swiper-container swiper-parent">
				<div class="swiper-wrapper">
					<!--<div class="swiper-slide" style="background-image: url('demos/mrav/images/slider/1.jpg');">
						<div class="container clearfix">
							<div class="slider-caption slider-caption-right" style="max-width: 700px;">
								<h2 data-animate="flipInX">Team of Experts<span>.</span></h2>
								<p class="d-none d-sm-block" data-animate="flipInX" data-delay="500">Our Team of Doctors are specialized in Various Disciplines to make sure you get the Best Treatment.</p>
							</div>
						</div>
					</div>-->


					<div class="swiper-slide" style="background-image: url('http://mrav.selectpo.lin48.host25.com/demos/mrav/images/slider/1.jpg');
					;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
						<div class="container clearfix">
							<div class="slider-caption slider-caption-top-left">
								<h2 data-animate="zoomIn">RAZVOJNAAGENCIJA<br><span>RA Mrav</span>.</h2>
								<p class="d-none d-sm-block" data-animate="zoomIn" data-delay="500">Održivo povećanje životnog standarda i lokalnog razvoja Moslavačke regije  i šire</p>
							</div>
						</div>
					</div>
				</div>

			</div>

			<a href="#" class="scroll-down d-none d-lg-block" data-scrollto="#content" data-offset="80">
				<span class="scroll-mouse"><span class="scroll-wheel"></span></span>
			</a>

		</section>
		<!-- #slider end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="heading-block center bottommargin-lg">
						<h2>Mogu li <span>svoju ideju</span> financirati iz <span>EU fondova</span> i kojih?</h2>
						<span>Imate ideju i nedostaje Vam sredstava? Poduzetnik ste, poljoprivrednik, udruga, javna ustanova? Posjetite nas da popričamo o tome kako možete koristiti EU fondove za ostvarenje svojih razvojnih ciljeva.</span>
					</div>

					<div class="col_half">
						<div class="feature-box fbox-plain">
							<div class="fbox-icon" data-animate="bounceIn">
								<a href="#"><i class="icon-file-contract"></i></a>
							</div>
							<h3>Razrada projektne ideje i definiranje potrebne tehničke dokumentacije</h3>
							<p>Pomažemo Vam razraditi Vašu projektnu ideju, sastaviti koncept i definirati osnovne korake prema njenom ostvarenju.<br> Kroz mentorske susrete vodimo Vas kroz prikupljanje tehničke dokumentacije (registracija tvrtke, OPG-a, građevinska dokumentacija i dr.)</p>
						</div>
					</div>



					<div class="col_half col_last">
						<div class="feature-box fbox-plain">
							<div class="fbox-icon" data-animate="bounceIn" >
								<a href="#"><i class="icon-file-signature"></i></a>
							</div>
							<h3>Pisanje poslovnih planova i projektnog prijedloga</h3>
							<p>Odlika uspješnog poduzetnika, kvalitetno je poslovno planiranje svakog ulaganja. Da bismo zajedno dokazali isplativost Vaših ulaganja i tako ostvarili financijsku podršku EU sredstava, za Vas pripremamo poslovne planove i investicijske studije, te koordiniramo izradu studija izvodljivosti prema adekvatnoj metodologiji.</p>
						</div>
					</div>

					<div class="clear"></div>

					<div class="col_half">
						<div class="feature-box fbox-plain">
							<div class="fbox-icon" data-animate="bounceIn">
								<a href="#"><i class="icon-chalkboard-teacher"></i></a>
							</div>
							<h3>Direktna potpora u provedbi projekta i edukacija</h3>
							<p>Jednom kad ostvarite sredstva iz EU fondova, uspješno provođenje projekta pravi je izazov. Pružamo Vam potporu u svakom momentu implementacije na mentorskom principu ili uslugama obrazovanja Vaših djelatnika.</p>
						</div>
					</div>



					<div class="col_half col_last">
						<div class="feature-box fbox-plain">
							<div class="fbox-icon" data-animate="bounceIn" >
								<a href="#"><i class="icon-chart-line"></i></a>
							</div>
							<h3>Strateško i operativno planiranje razvoja organizacija uz pomoć EU fondova</h3>
							<p>Kako razviti organizaciju, kako izgraditi vlastite kapacitete i gdje ostvariti za to resurse, pitanja su s kojima se susreću svi sudionici lokalnog razvoja.</p>
						</div>
					</div>

				</div>





				<div class="promo promo-light promo-full  notopmargin bottommargin">
					<div class="container clearfix">
						<h3><span>Imate ideju za projekt</span> ili Vam je potrebna naša pomoć?</h3>
						<span>Slobodno nas kontaktirajte putem e-maila: <a href="info@ra-mrav.hr">info@ra-mrav.hr</a> ili na broj telefona: <a href="tel:+385 44 659 078">+385 44 659 078</a>.</span>
						<a href="#" class="button button-large button-rounded">Pošaljite upit</a>
					</div>
				</div>

				<div class="container clearfix">
					<div class="heading-block center bottommargin-sm">
						<h2>Novosti i objave</h2>

					</div>

					<div id="oc-posts" class="owl-carousel posts-carousel carousel-widget" data-margin="20" data-nav="false" data-pagi="true" data-items-xs="1" data-items-sm="2" data-items-md="2" data-items-lg="3" data-items-xl="3">

						<div class="oc-item">
							<div class="ipost clearfix">
								<div class="entry-image">
									<a href="#" data-lightbox="image"><img class="image_fade" src="demos/mrav/images/vijesti.JPG" alt="Standard Post with Image"></a>
								</div>
								<div class="entry-title">
									<h3><a href="#">Svečana primopredaja poslovnih prostora poduzetnicima zakupnicima u PUNK-u</a></h3>
								</div>
								<ul class="entry-meta clearfix">
									<li><i class="icon-calendar3"></i> 02 kol. 2019</li>
									<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
									<li><a href="#"><i class="icon-camera-retro"></i></a></li>
								</ul>
								<div class="entry-content">
									<p>Grad Kutina je početkom svibnja tekuće godine na službenoj web stranici objavio natječaj za zakup poslovnog prostora u Poduzetničkom inkubatoru Kutina za male i srednje poduzetnike na koji se prijavilo njih 29 koji su zadovoljili uvjete natječaja.</p>
								</div>
							</div>
						</div>

						<div class="oc-item">
							<div class="ipost clearfix">
								<div class="entry-image">
									<a href="#" data-lightbox="image"><img class="image_fade" src="demos/mrav/images/vijesti2.JPG" alt="Standard Post with Image"></a>
								</div>
								<div class="entry-title">
									<h3><a href="#">Svečana primopredaja poslovnih prostora poduzetnicima zakupnicima u PUNK-u</a></h3>
								</div>
								<ul class="entry-meta clearfix">
									<li><i class="icon-calendar3"></i> 02 kol. 2019</li>
									<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
									<li><a href="#"><i class="icon-camera-retro"></i></a></li>
								</ul>
								<div class="entry-content">
									<p>Grad Kutina je početkom svibnja tekuće godine na službenoj web stranici objavio natječaj za zakup poslovnog prostora u Poduzetničkom inkubatoru Kutina za male i srednje poduzetnike na koji se prijavilo njih 29 koji su zadovoljili uvjete natječaja.</p>
								</div>
							</div>
						</div>

						<div class="oc-item">
							<div class="ipost clearfix">
								<div class="entry-image">
									<a href="#" data-lightbox="image"><img class="image_fade" src="demos/mrav/images/vijesti1.JPG" alt="Standard Post with Image"></a>
								</div>
								<div class="entry-title">
									<h3><a href="#">Svečana primopredaja poslovnih prostora poduzetnicima zakupnicima u PUNK-u</a></h3>
								</div>
								<ul class="entry-meta clearfix">
									<li><i class="icon-calendar3"></i> 02 kol. 2019</li>
									<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
									<li><a href="#"><i class="icon-camera-retro"></i></a></li>
								</ul>
								<div class="entry-content">
									<p>Grad Kutina je početkom svibnja tekuće godine na službenoj web stranici objavio natječaj za zakup poslovnog prostora u Poduzetničkom inkubatoru Kutina za male i srednje poduzetnike na koji se prijavilo njih 29 koji su zadovoljili uvjete natječaja.</p>
								</div>
							</div>
						</div>

						<div class="oc-item">
							<div class="ipost clearfix">
								<div class="entry-image">
									<a href="#" data-lightbox="image"><img class="image_fade" src="demos/mrav/images/vijesti.JPG" alt="Standard Post with Image"></a>
								</div>
								<div class="entry-title">
									<h3><a href="#">Svečana primopredaja poslovnih prostora poduzetnicima zakupnicima u PUNK-u</a></h3>
								</div>
								<ul class="entry-meta clearfix">
									<li><i class="icon-calendar3"></i> 02 kol. 2019</li>
									<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
									<li><a href="#"><i class="icon-camera-retro"></i></a></li>
								</ul>
								<div class="entry-content">
									<p>Grad Kutina je početkom svibnja tekuće godine na službenoj web stranici objavio natječaj za zakup poslovnog prostora u Poduzetničkom inkubatoru Kutina za male i srednje poduzetnike na koji se prijavilo njih 29 koji su zadovoljili uvjete natječaja.</p>
								</div>
							</div>
						</div>

						<div class="oc-item">
							<div class="ipost clearfix">
								<div class="entry-image">
									<a href="#" data-lightbox="image"><img class="image_fade" src="demos/mrav/images/vijesti2.JPG" alt="Standard Post with Image"></a>
								</div>
								<div class="entry-title">
									<h3><a href="#">Svečana primopredaja poslovnih prostora poduzetnicima zakupnicima u PUNK-u</a></h3>
								</div>
								<ul class="entry-meta clearfix">
									<li><i class="icon-calendar3"></i> 02 kol. 2019</li>
									<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
									<li><a href="#"><i class="icon-camera-retro"></i></a></li>
								</ul>
								<div class="entry-content">
									<p>Grad Kutina je početkom svibnja tekuće godine na službenoj web stranici objavio natječaj za zakup poslovnog prostora u Poduzetničkom inkubatoru Kutina za male i srednje poduzetnike na koji se prijavilo njih 29 koji su zadovoljili uvjete natječaja.</p>
								</div>
							</div>
						</div>


					</div>

				</div>

			</div>

		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" style="background-color: #F5F5F5;border-top: 2px solid rgba(0,0,0,0.06);">


			<!-- Copyrights
			============================================= -->
			<div id="copyrights" class="nobg">

				<div class="container clearfix">

					<div class="col_half">
						&copy; 2020 Razvojna agencija MRAV. Web by: <a href="http://www.agmedia.hr" target="_blank">AG media</a>

					</div>

					<div class="col_half col_last tright">
						<div class="copyrights-menu copyright-links clearfix">
							<a href="#">O nama</a>/<a href="#">Usluge</a>/<a href="#">Razvojni projekti</a>/<a href="#">Strateški dokumenti</a>/<a href="#">Kontakt</a>


						</div>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>

</body>
</html>
