<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="AG media" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Document Title
============================================= -->
	<title>Novosti - Razvojna agencija MRAV</title>
	<meta name="description" content="Djelovanje i aktivnosti Razvojne agencije MRAV d.o.o. usmjerene su na postizanje održivog povećanja životnog standarda i lokalnog razvoja Moslavačke regije i šire." />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap&subset=latin-ext" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/swiper.css" type="text/css" />

	<!-- Mrav Specific Stylesheet -->
	<link rel="stylesheet" href="demos/mrav/mrav.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<!-- favicon-->
	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
	<link rel="manifest" href="site.webmanifest">
	<link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#000000">
	<meta name="theme-color" content="#ffffff">

	<!-- og:graph -->
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="Naslovnica - Razvojna agencija MRAV"/>
	<meta property="og:image" content="http://www.ra-mrav.hr/demos/mrav/images/slider/1.jpg"/>
	<meta property="og:site_name" content="Razvojna agencija MRAV"/>
	<meta property="og:url" content="http://www.ra-mrav.hr/"/>
	<meta property="og:description" content="Djelovanje i aktivnosti Razvojne agencije MRAV d.o.o. usmjerene su na postizanje održivog povećanja životnog standarda i lokalnog razvoja Moslavačke regije i šire."/>



</head>

<body class="stretched sticky-responsive-menu">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar
		============================================= -->
		<div id="top-bar">

			<div class="container clearfix">

				<div class="col_half d-none d-md-block nobottommargin">

					<div class="top-links">
						<ul>

							<li><a href="tel:+385 44 659 078"><i class="icon-phone3"></i> +385 44 659 078</a></li>

						</ul>
					</div>

				</div>

				<div class="col_half col_last fright nobottommargin">

					<div id="top-social">
						<ul>
						<li><a href="https://www.facebook.com/pages/category/Social-Service/Razvojna-agencija-MRAV-806678259359172/" class="si-facebook" target="_blank"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>


						<li><a href="mailto:info@mrav.hr" class="si-email3"><span class="ts-icon"><i class="icon-envelope-alt"></i></span><span class="ts-text"><span class="__cf_email__" >info@mrav.hr</span></span></a></li>
						</ul>
					</div>

				</div>

			</div>

		</div>

		<!-- Header
		============================================= -->
		<header id="header">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo"><img src="demos/mrav/images/logo-mrav.svg" alt="Mrav Logo"></a>
						<a href="index.html" class="retina-logo"><img src="demos/mrav/images/logo-mrav.svg" alt="Mrav Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="style-3">

						<ul>
							<li><a href="novosti.html"><div>Novosti</div></a></li>
							<li><a href="stranica.html"><div>O nama</div></a></li>
							<li><a href="stranica.html"><div>Usluge</div></a></li>
							<li><a href="stranica.html"><div>Razvojni projekti</div></a></li>
							<li><a href="stranica.html"><div>Strateški dokumenti</div></a>
							<li><a href="kontakt.html"><div>Kontakt</div></a></li>
						</ul>

						<!-- Top Search
						============================================= -->
						<div id="top-search">
							<a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
							<form action="search.html" method="get">
								<input type="text" name="q" class="form-control" value="" placeholder="Upiši pojam &amp; Enter..">
							</form>
						</div><!-- #top-search end -->

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<!-- Page Title
============================================= -->

		<section id="page-title" class="bgcolor page-title-dark">

			<div class="container clearfix">
				<h1>Novosti</h1>
	
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Naslovnica</a></li>
					<li class="breadcrumb-item active" aria-current="page">Novosti</li>
				</ol>
			</div>

		</section><!-- #page-title end -->


		<!-- Content
    ============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<!-- Posts
					============================================= -->
					<div id="posts" class="post-grid grid-container grid-3 post-masonry clearfix">

						<div class="entry clearfix">
							<div class="entry-image">
								<a href="#" data-lightbox="image"><img class="image_fade" src="demos/mrav/images/vijesti.JPG" alt="Standard Post with Image"></a>
							</div>
							<div class="entry-title">
								<h2><a href="#">Svečana primopredaja poslovnih prostora poduzetnicima zakupnicima u PUNK-u</a></h2>
							</div>
							<ul class="entry-meta clearfix">
								<li><i class="icon-calendar3"></i> 02 kol. 2019</li>
								<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
								<li><a href="#"><i class="icon-camera-retro"></i></a></li>
							</ul>
							<div class="entry-content">
								<p>Grad Kutina je početkom svibnja tekuće godine na službenoj web stranici objavio natječaj za zakup poslovnog prostora u Poduzetničkom inkubatoru Kutina za male i srednje poduzetnike na koji se prijavilo njih 29 koji su zadovoljili uvjete natječaja.</p>


							</div>
						</div>

						<div class="entry clearfix">
							<div class="entry-image">
								<a href="#" data-lightbox="image"><img class="image_fade" src="demos/mrav/images/vijesti1.JPG" alt="Standard Post with Image"></a>
							</div>
							<div class="entry-title">
								<h2><a href="#">Svečana primopredaja poslovnih prostora poduzetnicima zakupnicima u PUNK-u</a></h2>
							</div>
							<ul class="entry-meta clearfix">
								<li><i class="icon-calendar3"></i> 02 kol. 2019</li>
								<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
								<li><a href="#"><i class="icon-camera-retro"></i></a></li>
							</ul>
							<div class="entry-content">
								<p>Grad Kutina je početkom svibnja tekuće godine na službenoj web stranici objavio natječaj za zakup poslovnog prostora u Poduzetničkom inkubatoru Kutina za male i srednje poduzetnike na koji se prijavilo njih 29 koji su zadovoljili uvjete natječaja.</p>


							</div>
						</div>

						<div class="entry clearfix">
							<div class="entry-image">
								<a href="#" data-lightbox="image"><img class="image_fade" src="demos/mrav/images/vijesti2.JPG" alt="Standard Post with Image"></a>
							</div>
							<div class="entry-title">
								<h2><a href="#">Svečana primopredaja poslovnih prostora poduzetnicima zakupnicima u PUNK-u</a></h2>
							</div>
							<ul class="entry-meta clearfix">
								<li><i class="icon-calendar3"></i> 02 kol. 2019</li>
								<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
								<li><a href="#"><i class="icon-camera-retro"></i></a></li>
							</ul>
							<div class="entry-content">
								<p>Grad Kutina je početkom svibnja tekuće godine na službenoj web stranici objavio natječaj za zakup poslovnog prostora u Poduzetničkom inkubatoru Kutina za male i srednje poduzetnike na koji se prijavilo njih 29 koji su zadovoljili uvjete natječaja.</p>

							</div>
						</div>



					</div><!-- #posts end -->

					<div class="clearfix"></div>

					<div class="row pagination-holder topmargin-sm">
						<div class="col-sm-12 text-center pagination-navigation ">

							<ul class="pagination pagination-rounded justify-content-center ">
								<li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
								<li class="page-item active"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item"><a class="page-link" href="#">4</a></li>
								<li class="page-item"><a class="page-link" href="#">5</a></li>
								<li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
							</ul>


						</div>
					</div>





				</div>





			</div>

		</section><!-- #content end -->


		<!-- Footer
		============================================= -->
		<footer id="footer" style="background-color: #F5F5F5;border-top: 2px solid rgba(0,0,0,0.06);">


			<!-- Copyrights
			============================================= -->
			<div id="copyrights" class="nobg">

				<div class="container clearfix">

					<div class="col_half">
						&copy; 2020 Razvojna agencija MRAV. Web by: <a href="http://www.agmedia.hr" target="_blank">AG media</a>

					</div>

					<div class="col_half col_last tright">
						<div class="copyrights-menu copyright-links clearfix">
							<a href="#">O nama</a>/<a href="#">Usluge</a>/<a href="#">Razvojni projekti</a>/<a href="#">Strateški dokumenti</a>/<a href="#">Kontakt</a>


						</div>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>

</body>
</html>