<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="AG media" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Document Title
============================================= -->
	<title>Stranica Razvojna agencija MRAV</title>
	<meta name="description" content="Djelovanje i aktivnosti Razvojne agencije MRAV d.o.o. usmjerene su na postizanje održivog povećanja životnog standarda i lokalnog razvoja Moslavačke regije i šire." />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap&subset=latin-ext" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/swiper.css" type="text/css" />

	<!-- Mrav Specific Stylesheet -->
	<link rel="stylesheet" href="demos/mrav/mrav.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<!-- favicon-->
	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
	<link rel="manifest" href="site.webmanifest">
	<link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#000000">
	<meta name="theme-color" content="#ffffff">

	<!-- og:graph -->
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="Naslovnica - Razvojna agencija MRAV"/>
	<meta property="og:image" content="http://www.ra-mrav.hr/demos/mrav/images/slider/1.jpg"/>
	<meta property="og:site_name" content="Razvojna agencija MRAV"/>
	<meta property="og:url" content="http://www.ra-mrav.hr/"/>
	<meta property="og:description" content="Djelovanje i aktivnosti Razvojne agencije MRAV d.o.o. usmjerene su na postizanje održivog povećanja životnog standarda i lokalnog razvoja Moslavačke regije i šire."/>



</head>

<body class="stretched sticky-responsive-menu">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar
		============================================= -->
		<div id="top-bar">

			<div class="container clearfix">

				<div class="col_half d-none d-md-block nobottommargin">

					<div class="top-links">
						<ul>

							<li><a href="tel:+385 44 659 078"><i class="icon-phone3"></i> +385 44 659 078</a></li>

						</ul>
					</div>

				</div>

				<div class="col_half col_last fright nobottommargin">

					<div id="top-social">
						<ul>
						<li><a href="https://www.facebook.com/pages/category/Social-Service/Razvojna-agencija-MRAV-806678259359172/" class="si-facebook" target="_blank"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>


						<li><a href="mailto:info@mrav.hr" class="si-email3"><span class="ts-icon"><i class="icon-envelope-alt"></i></span><span class="ts-text"><span class="__cf_email__" >info@mrav.hr</span></span></a></li>
						</ul>
					</div>

				</div>

			</div>

		</div>

		<!-- Header
		============================================= -->
		<header id="header">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo"><img src="demos/mrav/images/logo-mrav.svg" alt="Mrav Logo"></a>
						<a href="index.html" class="retina-logo"><img src="demos/mrav/images/logo-mrav.svg" alt="Mrav Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="style-3">

						<ul>
							<li><a href="novosti.html"><div>Novosti</div></a></li>
							<li><a href="stranica.html"><div>O nama</div></a></li>
							<li><a href="stranica.html"><div>Usluge</div></a></li>
							<li><a href="stranica.html"><div>Razvojni projekti</div></a></li>
							<li><a href="stranica.html"><div>Strateški dokumenti</div></a>
							<li><a href="kontakt.html"><div>Kontakt</div></a></li>
						</ul>

						<!-- Top Search
						============================================= -->
						<div id="top-search">
							<a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
							<form action="search.html" method="get">
								<input type="text" name="q" class="form-control" value="" placeholder="Upiši pojam &amp; Enter..">
							</form>
						</div><!-- #top-search end -->

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<!-- Page Title -->
		<section id="page-title" class="bgcolor page-title-dark">

			<div class="container clearfix">
				<h1>O nama</h1>
				<span>RAZVOJNA AGENCIJA MRAV d.o.o.</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Naslovnica</a></li>
					<li class="breadcrumb-item active" aria-current="page">O nama</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="row clearfix">
						<div class="col-lg-8">


							<h3>O Agenciji</h3>


							<p>Razvojna agencija MRAV d.o.o. osnovana je 2013. godine od strane Grada Kutine. Djelovanje i aktivnosti Razvojne agencije MRAV d.o.o. usmjerene su na postizanje održivog povećanja životnog standarda i lokalnog razvoja Moslavačke regije i &scaron;ire.&nbsp;</p>
							<p>Jedna od temeljnih zadaća je strate&scaron;ko planiranje razvoja regije kroz sudjelovanje u procesima euro-integracija s posebnim naglaskom na kori&scaron;tenje europskih i nacionalnih fondova.&nbsp;Agencija se bavi pružanjem informativne, savjetodavne, konzultantske i operativne podr&scaron;ke sudionicima lokalnog razvoja, a s posebnim naglaskom na institucije, gospodarstvo i organizacije civilnog dru&scaron;tva.</p>
							<p>Uz izgradnju lokalnih kapaciteta ustanova i ostalih subjekata za kori&scaron;tenje EU fondova, odnosno za pripremu prijedloga za financiranje iz EU fondova i provedbu vlastitih investicija, Agencija samostalno provodi projekte, priprema dokumentaciju, stvara partnerstva na regionalnoj i međunarodnoj razini, sudjeluje u organizaciji konferencija, treninga i seminara i dr.</p>
							<p>Agencija ima 4 stalno zaposlena djelatnika &ndash; direktora, 1 voditelja projekata te 2 suradnika voditelju projekata. Djelatnici posjeduju relevantno iskustvo u pripremi i implementaciji projekata, poslovnom savjetovanju, strate&scaron;kom planiranju i dr.&nbsp;Razvojna agencija MRAV služi kao centralno mjesto za informiranje o bespovratnim sredstvima Europske unije i nacionalnim sredstvima financiranja.</p>
							<p>Od prvog dana svog postojanja MRAV stvara nove ideje, kreira nove projekte a sve sa ciljem razvoja grada Kutine i Moslavačke regije.</p>
							<p>Svi relevantni osnivački dokumenti javno su dostupni putem on line baze podataka Sudskog registra trgovačkih dru&scaron;tava na internetu:</p>


						</div>

						<div class="col-lg-4">
							<div class="opening-table" style="background-color: #f5f5f5">
								<div class="heading-block bottommargin-sm nobottomborder">
									<h4>Neki side bar</h4>
									<span>
Hrvatskih branitelja 2<br />
44320 Kutina<br />
Hrvatska</span>
								</div>
								<div class="time-table-wrap clearfix">
									<div class="row time-table">
										<h5 class="col-lg-5">Tel </h5>
										<span class="col-lg-7">+385 44 659 078</span>
									</div>
									<div class="row time-table">
										<h5 class="col-lg-5">Fax</h5>
										<span class="col-lg-7">+385 44 659 078</span>
									</div>
									<div class="row time-table">
										<h5 class="col-lg-5">Email</h5>
										<span class="col-lg-7">info@ra-mrav.hr</span>
									</div>

								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="clear"></div>


			</div>

		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" style="background-color: #F5F5F5;border-top: 2px solid rgba(0,0,0,0.06);">


			<!-- Copyrights
			============================================= -->
			<div id="copyrights" class="nobg">

				<div class="container clearfix">

					<div class="col_half">
						&copy; 2020 Razvojna agencija MRAV. Web by: <a href="http://www.agmedia.hr" target="_blank">AG media</a>

					</div>

					<div class="col_half col_last tright">
						<div class="copyrights-menu copyright-links clearfix">
							<a href="#">O nama</a>/<a href="#">Usluge</a>/<a href="#">Razvojni projekti</a>/<a href="#">Strateški dokumenti</a>/<a href="#">Kontakt</a>


						</div>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>

</body>
</html>
